.fundo {
    background-color: #0077b6;
    font-family: Lucida Handwriting;
    color: #caf0f8;
}
.titulo{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 50vh;
    margin: 0%;
}
.button{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
   
}